@import "../../scss/variables";

#sidebar {
  border-right: 1px solid #e2e2e8;
  color: lightgray;
  min-height: calc(100vh - 61px); // minus the navbar height
  height: 100%;
  position: relative;
  padding-top: 1.5rem;
  .sidebar-menu {
    @media screen and (min-width: 991px) {
      float: left;
    }
    margin-top: 10px;
  }

  .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
  }

  ul {
    border-bottom: 1px solid #f2f2f2;

    p {
      color: #292934;
      margin-top: 10px;
      font-size: 20px;
    }

    li {
      border-left: 3px solid transparent;
      transition: all 180ms ease;
      &.active {
        background-color: #fff;
        border-left: 3px solid $color-cerulean;
        svg {
          color: $color-cerulean;
          path {
            fill: currentColor !important;
          }
        }
      }

      &:not(:first-child) {
        margin-top: 10px;
      }

      a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.8125rem 0.875rem;
        font-size: 1rem;
        color: #292934;
        text-decoration: none;
      }
      svg {
        max-height: 22px;
        margin: 0 1rem 0 0;
        min-width: 24px;
      }
      &:hover {
        background-color: #fff;
        border-left: 3px solid #3572b0;
        color: #000;
        .sidebar-menu {
          color: #2496cd;
        }
      }
    }
  }
}

a[aria-expanded="true"] {
  color: #292934;
}
