.inline-alert {
  display: inline-flex;
  width: 100%;
  &.alert {
    margin: 0 0 2rem;
  }
  &.alert-light {
    border-radius: 0;
    svg {
      color: $color-cerulean;
    }
    span {
      margin: 0 0 0 0.75rem;
      color: $color-cerulean;
    }
  }
}
