.team-members {
  display: flex;
  flex-direction: column;
  .member {
    display: flex;
    justify-content: stretch;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  .avatar {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    overflow: hidden;
    min-width: 48px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-cerulean;
    color: $color-white;
    path {
      fill: currentColor;
    }
  }
  p {
    margin-bottom: 0;
    max-width: calc(100% - 394px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      overflow: visible;
      background: $color-white;
      padding-right: 20px;
      span {
        background-color: $color-white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
    }
    span {
      margin-left: 0.5rem;
      position: relative;
    }
  }
  .actions {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    .btn {
      margin-left: 0.5rem;
    }
  }
  .dropdown-toggle {
    color: rgba(41, 41, 52, 0.5);
  }
}
